services:
  api:
    build:
      context: ./backend
    env_file:
      - .env
    environment:
      HOST: "0.0.0.0"
      POSTGRES_HOST: "db"
      REDIS_HOST: "redis"
      S3_ENDPOINT: "http://minio:9000"
    restart: always
    depends_on:
      - db
    command: >
      sh -c "alembic upgrade head && python -m app.main"
    networks:
      - dev
      - backend

  frontend:
    build:
      context: ./react-ts
    restart: always
    networks:
      - dev

  db:
    image: postgres:alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend

  minio:
    image: minio/minio:latest
    restart: always
    volumes:
      - minio_data:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER?Variable not set}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD?Variable not set}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - minio-net
      - backend

  mc:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5 &&
      mc alias set local http://minio:9000 dezolute dezolute &&
      mc mb local/libaryweb &&
      mc anonymous set download local/libaryweb
      "
    networks:
      - minio-net

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    restart: always
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - api
      - frontend
    networks:
      - dev

networks:
  dev:
  backend:
  minio-net:

volumes:
  postgres_data:
  minio_data:
  redis_data: