services:
  - type: web
    name: api
    env: docker
    repo: https://github.com/your-username/your-repo
    dockerfilePath: ./backend/Dockerfile
    startCommand: sh -c "alembic upgrade head && python -m app.main"
    envVars:
      - key: HOST
        value: "0.0.0.0"
      - key: POSTGRES_HOST
        value: db
      - key: REDIS_HOST
        value: redis
      - key: S3_ENDPOINT
        value: http://minio:9000
    autoDeploy: true

  - type: web
    name: frontend
    env: docker
    repo: https://github.com/your-username/your-repo
    dockerfilePath: ./frontend/Dockerfile
    autoDeploy: true

  - type: private
    name: db
    env: docker
    image: postgres:alpine
    envVars:
      - key: POSTGRES_PASSWORD
        value: your-password
      - key: POSTGRES_USER
        value: your-user
      - key: POSTGRES_DB
        value: your-db
    volumes:
      - name: postgres-data
        mountPath: /var/lib/postgresql/data

  - type: private
    name: redis
    env: docker
    image: redis:alpine
    volumes:
      - name: redis-data
        mountPath: /data

  - type: private
    name: minio
    env: docker
    image: minio/minio:latest
    envVars:
      - key: MINIO_ROOT_USER
        value: your-user
      - key: MINIO_ROOT_PASSWORD
        value: your-password
    startCommand: server /data --console-address ":9001"
    volumes:
      - name: minio-data
        mountPath: /data

  - type: private
    name: mc
    env: docker
    image: minio/mc
    startCommand: >
      /bin/sh -c "
      sleep 5 &&
      mc alias set local http://minio:9000 dezolute dezolute &&
      mc mb local/libaryweb &&
      mc anonymous set download local/libaryweb
      "

  - type: web
    name: nginx
    env: docker
    image: nginx:stable-alpine
    startCommand: nginx -g 'daemon off;'
    ports:
      - port: 80
    volumes:
      - name: nginx-conf
        mountPath: /etc/nginx/nginx.conf
        path: ./nginx.conf
    dependsOn:
      - api
      - frontend

volumes:
  - name: postgres-data
  - name: redis-data
  - name: minio-data
  - name: nginx-conf