@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: 
    url(../public/fonts/Nunito/Nunito-VariableFont_wght.ttf),
    url(../public/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

:root {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  @apply w-full h-full;
}
